@media only screen and (max-width: 1350px){
    .lista{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        align-items: center;
        justify-content:center;
        
        
    }

    .caixa1 img{
        width: 30%;
    }
}

@media only screen and (max-width: 700px){
    .mobile-icon{
        display: inline-block;

    }

    .mobile-icon ion-icon{
        font-size: 300%;
        color: #fff;
    }


    #navegacao ul li {
        display: block;
    }

    #navegavao li a:link,
    #navegacao li a:visited{
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }

    #navegacao li a:hover{
        border-bottom: none;
    }

    .listamenu{
        display: none;

    }

    .listamenu ul li{
        margin: 20px;
    }

    #navegacao{
       height: 250px;
    }
}

@media only screen and (max-width: 1500px){
    #slider{
        height: 100%;
    }
}

@media only screen and (max-width: 500px){
    #topo iframe{
        width: 300px;
        height: 350px;
    }
}

@media only screen and (max-width: 2000px){
    #slider{
        height: 100%;
    }
}

@media only screen and (max-width: 3000px){
    #slider{
        height: 100%;
    }
}